#application {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.rocket-league-blue {
  background-color: #023;
}

footer.rocket-league-blue {
  background-color: #023;
}

.image-medium {
  width: 75%;
}

.container-wide {
  width: 90%;
  margin: 0 auto;
}
