<table class="striped">
    <thead>
        <tr>
            <th data-field="name">Name</th>
            <th data-field="type">Type</th>
            <th data-field="quality">Quality</th>
            <th data-field="pack">Pack</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
