<div class="container-wide">
    <div class="row"></div>
    <div class="row">
        <div class="col s4">
            <div class="card rocket-league-blue">
                <div class="card-content white-text">
                    <div class="center">
                        <img class="image-medium" src="https://s.alfnz.com/5BBfH.png"></img>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card rocket-league-blue">
                <div class="card-content white-text">
                    <div class="center">
                        <img class="image-medium" src="https://s.alfnz.com/7zT12.svg"></img>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card rocket-league-blue">
                <div class="card-content white-text">
                    <div class="center">
                        <img class="image-medium" src="https://s.alfnz.com/D7vR2.png"></img>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
