<a href="{{ steam_profile }}">
    <div class="valign-wrapper">
        <span>{{ username }}</span>
        <img style="height: 30px; padding-left: 15px;" src="{{ steam_avatar }}" alt="Steam" class="logo">
    </div>
</a>
