<a href="{{ steam_profile }}">
    <div class="valign-wrapper">
        <div class="chip">
            <img src="{{ steam_avatar }}" alt="Contact Person"> {{ username }} <i class="material-icons">close</i>
        </div>
    </div>
</a>
