<nav class="rocket-league-blue" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">
            <img style="width: 170px" src="https://672061c0b827554def11-ea8c7607510173b2cbad15f9892e8687.ssl.cf2.rackcdn.com/rocket-league-logos-hr-white.f1cb27a519bdb5b6ed34049a5b86e317.BygN5vQpT.png" alt="Psyonix" class="logo">
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                {{#if username}}
                    {{> partials/usercontext}}
                {{else}}
                    <a href="http://localhost:8000/login/steam/">
                        <div class="valign-wrapper">
                            <span>Login via Steam</span>
                            <img style="height: 30px; padding-left: 15px;" src="https://ih1.redbubble.net/image.70583208.2279/sticker,375x360.png" alt="Steam" class="logo">
                        </div>
                    </a>
                {{/if}}
            </li>
        </ul>
    </div>
</nav>
